a:hover {
  border-radius: 10px;
  color:lightskyblue
}
a{
    color:#ffff
}
/*code to change background color*/
 
.navbar {
  background: linear-gradient(
    90deg,
    rgba(0, 149, 166, 1) 0%,
    rgb(25, 51, 73) 100%
  );
  
}
h1{
    font-family: cursive;
}
/* .med{
  height:170px;
}
.container{
  width:50%;
  border: 1px solid black;
  margin-top:2%;
  text-align: center;
  
}

.button{
  background-color:rgb(68, 145, 233) ;
  color:#fff;
}
.byn{
text-decoration: none;
margin-right: 100px;
color:#fff
}
*/
.button{
background-color:rgb(68, 145, 233) ;
color:#fff;
margin-left:45%
}

*{
font-family:sans-serif;
}
.card{
background-color: whitesmoke;
}
.card2{
background-color:azure;
}