.navbar {
    background: linear-gradient(
      90deg,
      rgba(0, 149, 166, 1) 0%,
      rgb(25, 51, 73) 100%
    );
    
  }
  h1{
      font-family: cursive;
  }
  .title{
      margin-left: 50px;
      color: #fff;
  }
  a{
      color: #fff;
  }
  a:hover {
    border-radius: 10px;
    color:lightskyblue
  }