a:hover {
    background-color: #adabab;
    border-radius: 10px;
    padding: 5px;
    color:yellow
  }
  a{
      color:#ffff
  }
  /*code to change background color*/
   
  .navbar {
    background: linear-gradient(
      90deg,
      rgba(0, 149, 166, 1) 0%,
      rgb(25, 51, 73) 100%
    );
    
  }
  h1{
      font-family: cursive;
  }
  .title{
      margin-left: 50px;
      color: #fff;
  }