
#product {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
#product td, #product th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    }
#product tr:nth-child(even){
  background-color: #f2f2f2;
   }
#product tr:hover {
      background-color: #ddd;
    }
#product th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:rgba(0, 149, 166, 1);
    color:#fff;
    text-align: center;
    }
  a:hover {
      border-radius: 10px;
      color:lightskyblue
    }
    a{
        color:#ffff
    }
    /*code to change background color*/
     
    .navbar {
      background: linear-gradient(
        90deg,
        rgba(0, 149, 166, 1) 0%,
        rgb(25, 51, 73) 100%
      );
      
    }
    h1{
        font-family: cursive;
    }
    .title{
        margin-left: 50px;
        color: #fff;
    }